.navbar {
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  li {
    position: relative;
  }

  > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: $color-ft-six;
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 2px solid #fff;
    padding: 5px 2px;

    &:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      color: #2c4964;
      white-space: nowrap;
      transition: 0.3s;
      border-bottom: 2px solid #fff;
      padding: 5px 2px;
    }

    i, &:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }

    &:hover {
      color: #1977cc;
      border-color: #1977cc;
    }
  }

  .active {
    color: $color-ft-two;
    border-color: $color-ft-two;

    &:focus {
      color: #1977cc;
      border-color: #1977cc;
    }
  }

  li:hover > a {
    color: $color-ft-six;
    border-color: $color-ft-six;
  }
}