#header {
  background: rgb(255, 255, 255);
  transition: all 0.5s;
  z-index: 997;
  padding: 8px 0;
  top: 40px;
  box-shadow: 1px 2px 15px rgba(25, 119, 204, 0.1);

  &.header-scrolled {
    top: 0;
  }

  .logo {
    font-size: 40px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: "Poppins", sans-serif;

    a {
      color: $color-bt-two;
    }
  }
}