$color-bg-one: #383838;
$color-bg-two: #066163;
$color-bg-three: #CDBE78;
$color-bg-four: #F2F2F2;
$color-ft-one: #383838;
$color-ft-two: #066163;
$color-ft-three: #CDBE78;
$color-ft-four: #F2F2F2;
$color-bt-one: #383838;
$color-bt-two: #066163;
$color-bt-three: #CDBE78;
$color-bt-four: #F2F2F2;


$color-fuentes: white;
$color-fuentes-secundario: rgba(255,255,255,0.6);
$color-fondo: rgb(165, 64, 165);

$color-botones-uno: red;
$color-botones: #066163;
$color-botones-secundario: #383838;
