$color-bg-one: #383838;
$color-bg-two: #4DB6AC;
$color-bg-three: #CDBE78;
$color-bg-four: #F2F2F2;
$color-bg-five: #4F5B62;

$color-ft-one: #383838;
$color-ft-two: #4DB6AC;
$color-ft-three: #CDBE78;
$color-ft-four: #F2F2F2;
$color-ft-five: white;

$color-bt-one: #383838;
$color-bt-two: #066163;
$color-bt-three: #CDBE78;
$color-bt-four: #F2F2F2;

