$color-bg-one: #383838;
$color-bg-two: #4DB6AC;
$color-bg-three: #CDBE78;
$color-bg-four: #F2F2F2;
$color-bg-five: #4F5B62;
$color-bg-six: #FA7D19;

$color-ft-one: #383838;
$color-ft-two: #4DB6AC;
$color-ft-three: #CDBE78;
$color-ft-four: #F2F2F2;
$color-ft-five: white;
$color-ft-six: #FA7D19;
$color-ft-seven: #066163;

$color-bt-one: #383838;
$color-bt-two: #4DB6AC;
$color-bt-three: #CDBE78;
$color-bt-four: #F2F2F2;
$color-bt-five: #4F5B62;
$color-bt-six: #FA7D19;

$color-var: #DDE9EB;